* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Ubuntu";
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

.container {
  flex-basis: 70vw;
  height: 80vh;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}

#sidebar {
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  border-radius: 10px;
  flex-basis: 25%;
  height: 75vh;
  background-position: center;
  background-size: cover;
  padding-top: 1.5rem;
  margin-left: 0.5rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-step {
  display: flex;
  margin-block: 10px;
  gap: 1.7rem;
}

.step-number {
  padding: 13px 20px;
  font-size: 1.3rem;
  border: 2px solid whitesmoke;
  border-radius: 100px;
  margin: 2px;
}

.step-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.step-info {
  font-size: 1.2rem;
  font-weight: 700;
}

.step {
  font-weight: 100;
}

.details {
  flex-basis: 60%;
  height: 75vh;
}

#form-detail {
  display: flex;
  height: 86%;
  flex-basis: 70%;
  color: #b1b1b7;
  justify-content: center;
}

.multi-step {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  flex-basis: 74%;
}

.heading {
  color: #032857;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.heading-detail {
  color: #b1b1b7;
  font-size: 1.6rem;
}

.next-button {
  background-color: #17498d;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 1rem 2rem;
}

.button-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-section label {
  font-size: 1.1rem;
  color: #092a55;
  padding-block: 0.7rem;
}

.input-section input {
  font-size: 1.1rem;
  padding: 0.88rem;
  border-radius: 10px;
  border: 2px solid silver;
  margin-bottom: 1.4rem;
}
.main-section {
  margin-top: 1.5rem;
  height: 80%;
  display: flex;
  flex-direction: column;
}

#personal-info {
  /* display: none; */
}

.back-button:hover {
  font-weight: 600;
  color: #06294f;
  cursor: pointer;
}

input[type="text"]:focus-visible {
  border: 2px solid #756dbb;
  outline: none;
}

.label-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error-field {
  color: red;
  display: none;
}

#step-one-sidebar {
  background-color: #bee2fd;
  color: #06294f;
}

.card:hover {
  border: 2px solid #756dbb !important;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-basis: 100%;
  gap: 2rem;
}

/* toggle start */
.subscription-toggle input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.subscription-toggle label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: hsla(239, 58%, 22%, 0.842);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.subscription-toggle label::after {
  content: "";
  width: 24px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  border-radius: 70px;
  top: 3px;
  left: 3px;
  transition: 0.5s;
}

.subscription-toggle input:checked + label:after {
  left: 30px;
}

.subscription-toggle {
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: #f8f9ff;
  font-weight: 600;
  align-items: center;
  padding-block: 1rem;
  border-radius: 10px;
  margin-block: 3rem;
}
/*toggle end  */

.plan-name {
  color: #042451;
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  flex-basis: 30%;
  border: 2px solid #b1b1b7;
  border-radius: 10px;
}

.free-with-yearly {
  color: #042451;
  font-size: 0.9rem;
  line-height: 200%;
  display: none;
}

#select-plan {
  display: none;
}

#add-on {
  display: none;
}
#addon-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#summary {
  display: none;
}

.addons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid silver;
  padding: 1rem;
  border-radius: 10px;
  line-height: 140%;
}

.addons:hover {
  border: 2px solid #756dbb !important;
  cursor: pointer;
}

.addons-detail {
  display: flex;
  justify-content: space-between;
}
.type-name {
  color: #092a55;
  font-weight: 600;
}

.addons-price {
  color: #17498d;
}

.input-add-ons {
  margin-right: 1rem;
  width: 1.3rem;
  padding: 0.5rem;
}

#selected-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #17498d;
}

#final-summary {
  background: #f8f9ff;
  border-radius: 15px;
  padding: 2rem;
}

.selected-addons {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}

#plan-detail-summary {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 140%;
}

#change-plan {
  color: #b1b1b7;
  font-weight: 400;
  text-decoration: underline;
}

#change-plan:hover {
  color: #17498d;
  cursor: pointer;
}

#total-amount {
  display: flex;
  justify-content: space-between;
}

#total-price-summary {
  font-size: 1.5rem;
  color: #17498d;
  font-weight: 500;
}
#final-summary {
  align-items: space-between;
}

.addon-price {
  color: #17498d;
}
#total-amount {
  padding: 1.5rem;
}

#thank-you {
  display: none;
  justify-content: center;
  align-items: center;
}

#thank-you-container {
  display: flex;
  flex-direction: column;
  flex-basis: 47%;
  justify-content: center;
  align-items: center;
}

#top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#monthly-toggle{
  color : #042451;
}

#thank-you-title {
  color: #17498d;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem;
}

#top-container img {
  width: 30%;
}

#thank-you-description {
  line-height: 130%;
  text-align: center;
}

#error-select-plan{
  display: none;
  color: red;
  position: relative;
}

#confirm-button{
  background: #457bc6;
}

.next-button{
  border: none;
}

.next-button:hover{
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #eef4fe;
  }
  #sidebar {
    flex-direction: row;
    background: url(assets/images/bg-sidebar-mobile.svg);
    height: 20vh;
    width: 100vw;
    flex-basis: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0rem;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    gap: 0.7rem;
    justify-content: center;
    padding-top: 2.5rem;
  }
  .step-section {
    display: none;
  }
  .container {
    flex-direction: column;
    height: 100vh;
  }
  #form-detail {
    position: absolute;
    top: 16vh;
    height: 84%;
  }
  .sidebar-step {
    height: fit-content;
    margin: 0;
    padding: 0;
  }
  .heading {
    font-size: 1.8rem;
  }
  .multi-step {
    flex-basis: 100%;
  }
  .header-main-container {
    margin-inline: 1rem;
    background-color: white;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 10px;
  }
  .heading-detail {
    font-size: 1.17rem;
  }
  .button-section {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
  }
  .cards {
    flex-direction: column;
    gap: 0.6rem;
    margin-block: 1rem;
  }
  .card {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-basis: 70px;
  }

  .subscription-toggle {
    margin-block: 0;
  }
  #addon-section {
    gap: 0.8rem;
    margin-block: 1.5rem;
  }
  .type-offer {
    font-size: 0.74rem;
    font-weight: 600;
  }
  #final-summary {
    margin-top: 1rem;
  }

  #thank-you {
    border-radius: 10px;
    height: 50vh;
    margin-inline: 1rem;
    background: white;
  }

  #thank-you-container {
    flex-basis: 84%;
  }

  .next-button {
    background-color: #032959;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
  }

#form-section{
    transform: scale(90%);
  }
}
